.paragraph-title-bg {
    background: url("../resources/svg/paragraph_title.svg") center center no-repeat;
    background-size: 100% 100%;
}

.bg-mdc-light-grey {
    background-color: #333230;
}
.bg-mdc-grey {
    background-color: #272727;
}
.bg-mdc-dark-grey {
    background-color: #121212;
}
.bg-mdc-soft-blue {
    background-color: #35414b;
}
.bg-mdc-dark-cyan {
    background-color: #253032;
}

.mdc-green {
    color: #26bd1b;
}
.mdc-light-cyan {
    color: #dee9f3;
}
.mdc-cyan {
    color: #4c9ddb;
}

.border-mdc-grey {
    border-color: #272727;
}
